# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.metro-cache/
.metros-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# local env files
.env*.local
.env
.env.*

# typescript
*.tsbuildinfo
.vercel

# Editors
.vscode/
.idea/

# Coverage / cache
coverage/
.cache/

# Backups
backups/

# Misc
*.swp
*.swo
